.modal-container {
  // @include outer-container;
  // display: flex;
  // justify-content: center;
  // width: 100%;

  text-align: left;
}

.modal-content {

  // @include span-columns(4);
}

.modal-content-left {
  display: inline;
  float: left;
  padding-right: 1em;
  width: 50%;
}

.modal-content-right {
  border-left: #D8D8D8 1px solid;
  display: inline;
  float: right;
  padding-left: 1em;
  width: 50%;
}
