.section {
  @include outer-container(100%);
}


.small-section-spacing {
  padding-top: 5em;
  padding-bottom: 5em;
}


.full-background-img {
  @include outer-container(100%);
  // align-items: center;
  // background: $overlay-white, url("../images/hero-home.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40em;
  padding: 2em;

  .hero-content {
    @include outer-container;
    text-align: left;
  }
}

#home-individual-care {
  background: $overlay-black, url("../images/home-individual-care.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

#home-gps {
  background: url("../images/home-gps-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
}

#home-awards {
  background: $bg-color-1;
}

.awards-group {
  display: flex;
  justify-content: space-between;

  img {
    margin-top: 3em;
    width: 12em;
  }
}
