// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Fonts
$font-200: 'franz-200-extra-light';
$font-300: 'franz-300-light';
$font-400: 'franz-400-semi-light';
$font-500: 'franz-500-medium';
$font-600: 'franz-600-semi-bold';
$font-700: 'franz-700-bold';
$font-800: 'franz-800-extra-bold';
$font-900: 'franz-900-heavy';

$font-social: 'icomoon' !important;

// Typography
$base-font-family: 'franz';
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 20px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #ffffff;

// Brand Colors
$brand-orange: #F6933A;

// Image Overlays
$overlay-white:
  linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );

$overlay-black:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );

$overlay-gradient-orange:
  linear-gradient( -205deg,
    rgba(250, 183, 61, 0.5),
    rgba(242, 128, 28, 0.5)
  );

// Font Colors
$base-font-color: $dark-gray;
$action-color: $brand-orange;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #FFFBF8;
$secondary-background-color: tint($base-border-color, 75%);


// Forms
$form-box-shadow: inset 0 0px 0px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 0px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
