$padding: 1em;
$large-breakpoint: 600px;

.grid-full-width {
  @include outer-container(100%);
}

.grid-container, .container {
  @include outer-container;
}

.omega {
  @include omega;
  @include media(600px) {
    @include omega;
  };
}

.grid-6 {
  @include span-columns(12);
  padding-left: $padding;
  padding-right: $padding;

  @include media($large-breakpoint) {
    @include span-columns(6);
  };
}

.grid-8 {
  @include span-columns(12);
  padding-left: $padding;
  padding-right: $padding;

  @include media($large-breakpoint) {
    @include span-columns(8);
  };
}

.shift-6 {
  @include shift(0);

  @include media($large-breakpoint) {
    @include shift(6);
  };
}

.shift-3 {
  @include shift(0);

  @include media($large-breakpoint) {
    @include shift(3);
  };
}

.shift-2 {
  @include shift(0);

  @include media($large-breakpoint) {
    @include shift(2);
  };
}

.shift-1 {
  @include shift(0);

  @include media($large-breakpoint) {
    @include shift(1);
  };
}

.column-4 {
    @include span-columns(4);
}

.col-5 {
  @include span-columns(5);
}

section {
  width: 100%;
}

.section-padding-vertical {
  padding: 5em 0;
}
