<footer class="bg-1">
  <div class="footer-info">
    <div class="logo">
      <%= image_tag "images/brand/logo.svg" %>
    </div>
    <div class="footer-info-txt">
        171 Clermont Ave
        Brooklyn, NY 11286
    </div>
    <div class="footer-info-txt">
      347.850.4922
    </div>
    <div class="footer-info-txt">
      info@bklynbark.com
    </div>
  </div>
</footer>
