@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'franz';
  font-weight: 200;
  src: url("fonts/franz/franz-200-extra-light.woff2") format("woff2");
  src: url("fonts/franz/franz-200-extra-light.woff") format("woff"); }
@font-face {
  font-family: 'franz';
  font-weight: 300;
  src: url("fonts/franz/franz-300-light.woff2") format("woff2");
  src: url("fonts/franz/franz-300-light.woff") format("woff"); }
@font-face {
  font-family: 'franz';
  font-weight: 400;
  src: url("fonts/franz/franz-400-semi-light.woff2") format("woff2");
  src: url("fonts/franz/franz-400-semi-light.woff") format("woff"); }
@font-face {
  font-family: 'franz';
  font-weight: 500;
  src: url("fonts/franz/franz-500-medium.woff2") format("woff2");
  src: url("fonts/franz/franz-500-medium.woff") format("woff"); }
@font-face {
  font-family: 'franz';
  font-weight: 600;
  src: url("fonts/franz/franz-600-semi-bold.woff2") format("woff2");
  src: url("fonts/franz/franz-600-semi-bold.woff") format("woff"); }
@font-face {
  font-family: 'franz';
  font-weight: 700;
  src: url("fonts/franz/franz-700-bold.woff2") format("woff2");
  src: url("fonts/franz/franz-700-bold.woff") format("woff"); }
@font-face {
  font-family: 'franz';
  font-weight: 800;
  src: url("fonts/franz/franz-800-extra-bold.woff2") format("woff2");
  src: url("fonts/franz/franz-800-extra-bold.woff") format("woff"); }
@font-face {
  font-family: 'franz';
  font-weight: 900;
  src: url("fonts/franz/franz-900-heavy.woff2") format("woff2");
  src: url("fonts/franz/franz-900-heavy.woff") format("woff"); }
/* Better Font Rendering =========== */
button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #F6933A;
  border: 0;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "franz";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #c5762e;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "franz";
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #F5F3F0;
  border: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #F6933A;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.06), 0 0 0px rgba(245, 134, 34, 0.7);
    outline: solid 1px #F6933A; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2eeec;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

.input-header {
  font-weight: 600;
  font-size: 15px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%;
  margin: 0;
  background-color: #FFFBF8; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "franz";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "franz";
  line-height: 1.2;
  margin: 0 0 0.5em 0; }

h1 {
  font-size: 42px; }

h3 {
  font-size: 32px; }

p {
  font-family: 'franz';
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.5;
  margin: 0 0 0.75em; }

a {
  color: #F6933A;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #b96e2c; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.social {
  font-family: "icomoon" !important;
  font-size: 16px;
  color: #333; }

.orange {
  color: #F6933A; }

.white {
  color: #FFFBF8; }

.txt-left {
  text-align: left; }

.txt-center {
  text-align: center; }

.txt-right {
  text-align: right; }

header.navigation {
  font-family: 'franz';
  background-color: rgba(255, 255, 255, 0.95);
  min-height: 80px;
  position: fixed;
  width: 100%;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
  header.navigation .logo {
    float: left;
    height: 80px;
    padding-left: 1em;
    padding-right: 2em;
    display: flex;
    align-items: center; }
    header.navigation .logo img {
      height: 42px;
      width: 42px; }
    header.navigation .logo .logo-text {
      display: inline;
      font-size: 32px;
      letter-spacing: -0.6px;
      line-height: 32px;
      margin: 0 0 4px 8px; }
    header.navigation .logo:hover {
      color: #F6933A; }
  header.navigation .navigation-menu-button {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
    line-height: 80px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 900px) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: rgba(49, 49, 49, 0.7); }
  header.navigation nav {
    font-weight: 700;
    float: none;
    min-height: 80px;
    z-index: 9999999; }
    @media screen and (min-width: 900px) {
      header.navigation nav {
        float: left; } }
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 900px) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: rgba(255, 255, 255, 0.95);
    display: block;
    line-height: 80px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 900px) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 80px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: rgba(51, 51, 51, 0.7);
      display: inline-block;
      text-decoration: none; }
      @media screen and (min-width: 900px) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: rgba(49, 49, 49, 0.7); }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 900px) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(51, 51, 51, 0.7);
      content: "\25BE"; }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 900px) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 900px) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0;
    margin-top: 26px; }
    @media screen and (min-width: 900px) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 900px) {
      header.navigation ul.submenu .submenu.fly-out-right {
        left: 11.8em;
        top: 0; } }
    @media screen and (min-width: 900px) {
      header.navigation ul.submenu .submenu.fly-out-left {
        left: -11.8em;
        top: 0; } }
    @media screen and (min-width: 900px) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 900px) {
        header.navigation ul.submenu li {
          line-height: 61.5384615385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 0;
            border-top-right-radius: 0; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: rgba(247, 247, 247, 0.95);
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 900px) {
          header.navigation ul.submenu li a {
            background-color: rgba(255, 255, 255, 0.95);
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-right {
    height: 0;
    display: flex;
    margin-left: 2em; }
    @media screen and (min-width: 900px) {
      header.navigation .navigation-right {
        height: 80px;
        background: transparent;
        clear: none;
        float: right; } }
  header.navigation button {
    display: none; }
    @media screen and (min-width: 900px) {
      header.navigation button {
        display: inline;
        margin: 20px 1em 20px 0; } }

.hero {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/hero-home.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40em;
  padding: 2em; }
  .hero::after {
    clear: both;
    content: "";
    display: block; }
  .hero .hero-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 4em; }
    .hero .hero-content::after {
      clear: both;
      content: "";
      display: block; }

.hero-content__placement {
  max-width: 45em; }

.section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .section::after {
    clear: both;
    content: "";
    display: block; }

.small-section-spacing {
  padding-top: 5em;
  padding-bottom: 5em; }

.full-background-img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40em;
  padding: 2em; }
  .full-background-img::after {
    clear: both;
    content: "";
    display: block; }
  .full-background-img .hero-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left; }
    .full-background-img .hero-content::after {
      clear: both;
      content: "";
      display: block; }

#home-individual-care {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home-individual-care.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px; }

#home-gps {
  background: url("../images/home-gps-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px; }

#home-awards {
  background: #FFE8D3; }

.awards-group {
  display: flex;
  justify-content: space-between; }
  .awards-group img {
    margin-top: 3em;
    width: 12em; }

.grid-full-width {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .grid-full-width::after {
    clear: both;
    content: "";
    display: block; }

.grid-container, .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .grid-container::after, .container::after {
    clear: both;
    content: "";
    display: block; }

.omega {
  margin-right: 0; }
  @media screen and (min-width: 600px) {
    .omega {
      margin-right: 0; } }

.grid-6 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em; }
  .grid-6:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .grid-6 {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 48.8211739883%; }
      .grid-6:last-child {
        margin-right: 0; } }

.grid-8 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em; }
  .grid-8:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .grid-8 {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 65.8807826589%; }
      .grid-8:last-child {
        margin-right: 0; } }

.shift-6 {
  margin-left: 0%; }
  @media screen and (min-width: 600px) {
    .shift-6 {
      margin-left: 51.1788260117%; } }

.shift-3 {
  margin-left: 0%; }
  @media screen and (min-width: 600px) {
    .shift-3 {
      margin-left: 25.5894130058%; } }

.shift-2 {
  margin-left: 0%; }
  @media screen and (min-width: 600px) {
    .shift-2 {
      margin-left: 17.0596086706%; } }

.shift-1 {
  margin-left: 0%; }
  @media screen and (min-width: 600px) {
    .shift-1 {
      margin-left: 8.5298043353%; } }

.column-4 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 31.7615653177%; }
  .column-4:last-child {
    margin-right: 0; }

.col-5 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 40.291369653%; }
  .col-5:last-child {
    margin-right: 0; }

section {
  width: 100%; }

.section-padding-vertical {
  padding: 5em 0; }

.img--container__center {
  vertical-align: center; }

#home-pets {
  padding-left: 5em;
  padding-right: 5em;
  width: 100%; }

/*
 *  Remodal - v1.1.0
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none; }

/* Anti FOUC */
.remodal,
[data-remodal-id] {
  display: none; }

/* Necessary styles of the overlay */
.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none; }

/* Necessary styles of the wrapper */
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch; }

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: ""; }

/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Necessary styles of the modal dialog */
.remodal {
  position: relative;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block; }

/*
 *  Remodal - v1.1.0
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(43, 46, 56, 0.9); }

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes; }

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes; }

/* Default theme styles of the wrapper */
.remodal-wrapper {
  padding: 10px 10px 0; }

/* Default theme styles of the modal dialog */
.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff; }

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes; }

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes; }

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle; }

/* Close button */
.remodal-close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent; }

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
  background: none; }

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center; }

/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0; }

.remodal-confirm {
  color: #fff;
  background: #81c784; }

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a; }

.remodal-cancel {
  color: #fff;
  background: #e57373; }

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350; }

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* Keyframes
   ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; } }
@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; } }
@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* Media queries
   ========================================================================== */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 900px; } }
/* IE8
   ========================================================================== */
.lt-ie9 .remodal-overlay {
  background: #2b2e38; }

.lt-ie9 .remodal {
  width: 700px; }

.modal-container {
  text-align: left; }

.modal-content-left {
  display: inline;
  float: left;
  padding-right: 1em;
  width: 50%; }

.modal-content-right {
  border-left: #D8D8D8 1px solid;
  display: inline;
  float: right;
  padding-left: 1em;
  width: 50%; }

.hero-dog-walking {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(-205deg, rgba(250, 183, 61, 0.5), rgba(242, 128, 28, 0.5)), url("../images/hero-dog-walking@2x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40em;
  padding: 2em;
  color: #ffffff; }
  .hero-dog-walking::after {
    clear: both;
    content: "";
    display: block; }
  .hero-dog-walking .hero-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 18em; }
    .hero-dog-walking .hero-content::after {
      clear: both;
      content: "";
      display: block; }
  .hero-dog-walking h2 {
    font-family: 'franz';
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 0; }
  .hero-dog-walking h5 {
    font-family: 'franz';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-top: 0.5em; }

.hero-content-text {
  max-width: 36em; }

#pricing-dog-walks {
  text-align: center; }
  #pricing-dog-walks h3 {
    padding-bottom: 2em; }

.price-card {
  background: #FFFBF7;
  box-shadow: 0px 2px 18px 0px rgba(203, 111, 27, 0.15);
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 31.7615653177%;
  text-align: center; }
  .price-card:last-child {
    margin-right: 0; }

.price-card-header {
  background-color: #9D8DD9;
  padding: 20px 0; }
  .price-card-header h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0; }

.price-card-time {
  margin-top: 2em; }
  .price-card-time h4 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px; }

.price-card-amount {
  margin-top: 1em; }
  .price-card-amount h4 {
    font-family: -apple-system;
    font-weight: 100;
    font-size: 64px;
    letter-spacing: -2.1px; }

.price-card-description {
  margin-bottom: 1em;
  padding: 0 1.5em; }

.price-card-button {
  padding-bottom: 2em; }

#min-20 .price-card-header, #min-20 button {
  background-color: #9D8DD9; }
#min-20 .price-card-amount, #min-20 .price-card-time {
  color: #9D8DD9; }

#min-30 .price-card-header, #min-30 button {
  background-color: #2AC288; }
#min-30 .price-card-amount, #min-30 .price-card-time {
  color: #2AC288; }

#min-45 .price-card-header, #min-45 button {
  background-color: #F6933A; }
#min-45 .price-card-amount, #min-45 .price-card-time {
  color: #F6933A; }
