.nav-button {
  // Extra spacing between button and nav links
  // margin: 0 $gutter;

  button {
    // background-color: $brand-secondary-color;
  }
  // Equal spacing between all nav items
  margin-right: $gutter;
  margin-left: 0;
}

@include media($mobile) {
  .nav-button {
    visibility: hidden;


    &.nav-cta-mobile {
      // display: inline-block;
      visibility: visible;
      // position: fixed;
      top: 0;
    }

    // &.show {
    //   display: block;
    // }
  }
}
