---
title: Brooklyn Bark
layout: layout
---

<section class="hero hero-dogwalking">
  <div class="container">
    <div class="col-6 hero-text txt-white">
      <h1 class="txt-white">Dog Walking</h1>
      <h3>Tailored dog walking experience by highly trained and reliable dog walkers in Brooklyn.</h3>
    </div>
  </div>
</section>

<section class="bg-1 section--padding__medium">
  <div class="container">

    <div class="pricing-container">
      <div id="price-dog-1" class="pricing-component">
        <div class="pricing-header">
          <h3>Potty Break</h3>
        </div>
        <div class="price-group">
          <div class="price-time">
            <h4>20 min Walk</h4>
          </div>
          <div class="price">
            <h2>$17</h2>
          </div>
          <div class="price-description">
            <p>
              A quick 20 min walk to relieve your pup and stretch their legs.
            </p>
          </div>
          <div class="price-cta-button">
            <a href="#">Get Started</a>
          </div>
        </div>
      </div>

      <div id="dog-price-2" class="pricing-component">
        <div class="pricing-header">
          <h3>Daily Stroll</h3>
        </div>
        <div class="price-group">
          <div class="price-time">
            <h4>30 min Walk</h4>
          </div>
          <div class="price">
            <h2>$22</h2>
          </div>
          <div class="price-description">
            <p>
              A 30 min walk around the neighborhood.
            </p>
          </div>
          <div class="price-cta-button">
            <a href="#">Get Started</a>
          </div>
        </div>
      </div>

      <div id="dog-price-3" class="pricing-component">
        <div class="pricing-header">
          <h3>Urban Excursion</h3>
        </div>
        <div class="price-group">
          <div class="price-time">
            <h4>60 min Walk</h4>
          </div>
          <div class="price">
            <h2>$32</h2>
          </div>
          <div class="price-description">
            <p>
              60 min excursion around the town and maybe the park.
            </p>
          </div>
          <div class="price-cta-button">
            <a href="#">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
