---
title: Brooklyn Bark
layout: layout
---

<section class="hero hero-dogwalking">
  <div class="container">
    <div class="col-8 shift-2 hero-text txt-center">
      <h1 class="txt-white">Dog Walking</h1>
      <h4>Tailored dog walking experience by highly trained and reliable dog walkers in Brooklyn.</h4>
    </div>
  </div>
</section>
