---
title: Brooklyn Bark
layout: layout
---

<section class="hero home-hero">
  <div class="container">
    <div class="col-8 shift-2 hero-text txt-center">
      <h1 class="txt-white">Friendly and Reliable Dog Walking, Pet Sitting, and Care</h1>
    </div>
  </div>
</section>


<section class="bg-1 section--padding__medium">
  <div class="container">
    <div class="col-4 layout-home--animal-vector">
      <img src="images/home/home-animals-vector.png" srcset="images/home/home-animals-vector@2x.png 2" alt="" />
    </div>
    <div class="col-6 shift-1">
      <h2 class="txt-primary-brand">We Know Pets. Fur, Feathers, Scales and All…</h2>
      <p>
        Brooklyn Bark is an award-winning pet care company providing service to most neighborhoods in Brooklyn. We offer online scheduling, GPS-tracked dog walking, in-home boarding, and pet sitting services.
      </p>
    </div>
  </div>
</section>

<section class="section-full-img-background home-individual-care section--padding__medium">
  <div class="container">
    <div class="col-6 shift-6 txt-white">
      <h2>Individual Care</h2>
      <p>
        Dogs and other animals get to know and trust individual people. This is why you will have a primary care giver and a backup for those emergencies.
      </p>
      <p>
        As the bond between walker and pup becomes strong, that is when truly personalized walks are formed. Walks are not only for a potty break but also a break from sleeping on the couch and having a bit of excitement.
      </p>
    </div>
  </div>
</section>
