.layout-home--animal-vector {
  // padding: 2em;
}


.home-individual-care {
  background-image: url('../images/home/home-individual-care.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
