.layout-home--animal-vector {
  // padding: 2em;
}


.home-individual-care {
  background-image: url('../images/home/home-individual-care.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.home-gps {
  background-image: url('../images/home/home-gps-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.home-award-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    max-width: 172px;
    height: auto;
  }
}

.home-award-trophy {
  margin-bottom: 2em;
}
